p, h1, h2, h3, h4, h5 {
      color: #ffffff;
}

body{
      background-color: white;
}

/* Generics for all the white */
.white-background {
      background-color: #ffffff;
}

.grey-background {
      background-color: #2c3743;
}

.dark-blue-background {
      background-color: #27a7ad;
}

.blue-background {
      background-color: #27a7ad;
}

.green-background{
      background-color: #27a7ad;
}

.dark-green-background{
      background-color: #27a7ad;
}

/* Text Colours */
.white-text {
      color: #ffffff;
}

.grey-text {
      color: #2A323E;
}

.dark-blue-text {
      color: #279BA2;
}

.shadow-text{
      text-shadow: 2px 4px black;
}

.small-text-shadow{
      text-shadow: 1px 1px #333333;
}

.correct-blue-text {
      color: #44ABAD !important;
}

.green-text{
      color: #00985E;
}

.dark-green-text{
      color: #149F85;
}


.middle-section{
      background-image: url('PT-2.png'); 
      background-repeat: no-repeat;
      background-size: 1920px 456px;
      height: 420px;
}


#logo-container{
      position: relative;
      top: 0;
      left: 0;
      height: 100%;

}

.nav-bar{
      padding: 0;
      width: 99%;
}

.header{
      padding-bottom: 5%;
      padding-top: 2%;
}

.logo-name{
      text-align: center;
}

.resize{
      font-size: 2.1rem;
}

.resize2{
      font-size: 3.5rem;
}


.padding-left{
      padding-left: 5px !important;
}